$white: #fff;
nav {
    .container {
        a {
            color: $white;
        }
        
        button {
            i {
                color: $white;
            }
        }
        
    }
}